@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* GLOBAL RESETS */

*{
    margin:0;
    padding:0;
}

a{
    color:white;
}

body{
    font-family: "Roboto", sans-serif;  
    background-color: #0E0E0E;
    color:white;
}

p{
    margin-bottom:1em;
    font-weight:300;
    font-size:1.35em;
}

/* ----------------------- */

.container{
    width:95%;
    margin:auto;
}

#profile-heading{
    
}

#profile{
    box-shadow: 0px -3px 7px #000000;

    text-align: center;
    margin-bottom:1.25em;
}

#title{
    font-weight: lighter;
    /* color:#0e0e0e; */
    margin-bottom: .5em;
}

#profile-img{
    margin-top: 3em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    max-width: 180px;
    height:auto;
    border-radius: 6.2em;
}

#biography{
  display:flex;
  background-color:#0E0E0E;
  color:#ffffff;
  min-height: 100vh;
  width:95%;
  margin:auto;
  align-items: center;
}

#tribute-info{
    line-height: 2em;
    text-align: justify;
}

#image{
    max-width: 100%;
    height: auto;
}

#img-caption{
    text-align: center;
}


@media(min-width:850px){
    #profile{
    height: 45vh;
    background-color: white;
    background-image: radial-gradient(93.94% 138.04% at 50% -71.56%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.61) 100%, rgba(0, 0, 0, 0.61) 100%), url("./media/bckg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }

    #image{
        position:relative;
        left:7vw;
    }
}



@media (max-width:850px){

    #profile-heading{
        height: 25vh;
        background-image: radial-gradient(93.94% 138.04% at 50% -71.56%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.61) 100%, rgba(0, 0, 0, 0.61) 100%), url("./media/bckg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #profile{
     
     color:white;
    }

    #title{
        font-size: 1.75em;
        font-weight:400;
        margin-top: -1.5em;
        margin-bottom:.5em;
    }

    #profile-img{
        position:relative;
        bottom:6em;
        max-width:35%;
    }

    #biography{
        flex-direction: column;
    }
}