@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* GLOBAL RESETS */

*{
    margin:0;
    padding:0;
}

a{
    color:white;
}

body{
    font-family: "Roboto", sans-serif;  
    background-color: #0E0E0E;
    color:white;
}

p{
    margin-bottom:1em;
    font-weight:300;
    font-size:1.35em;
}

/* ----------------------- */

.container{
    width:95%;
    margin:auto;
    height: 100%;
}

.flex-container{
    display:flex;
    width:90%;
    margin:auto;
}

#profile{
    min-height: 45vh;
    text-align: center;

    /* background */
    background-color: white;
    background-size: contain;
    background-image: radial-gradient(93.94% 138.04% at 50% -71.56%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.61) 100%, rgba(0, 0, 0, 0.61) 100%), url("./media/bckg.png");
    background-repeat: no-repeat;
    background-position: center;
}

#title{
    font-weight: lighter;
    margin-bottom: .5em;
}

#profile-img{
    margin-top: 3em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    max-width: 180px;
    height:auto;
    border-radius: 6.2em;
}

#biography{
  padding-top: 1em;
  background-color:#0E0E0E;
  color:#ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  box-shadow: 0px -3px 7px #000000;
}

#tribute-info{
    line-height: 2em;
    text-align: justify;
}

#tribute-info, #img-div{
    flex: 1;
    align-self: center;
}

#image{
    max-width: 100%;
    height: auto;
    position:relative;
    left:7vw;
}

#img-caption{
    text-align: right;
}

@media (max-width:850px){

    /* Small screen-exclusive styles */
    #profile-heading{
        /* small screen background */
        min-height: 25vh;
        background-image: radial-gradient(93.94% 138.04% at 50% -71.56%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.61) 100%, rgba(0, 0, 0, 0.61) 100%), url("./media/bckg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #title{
        font-size: 1.75em;
        font-weight:400;
        margin-top: -1.5em;
        margin-bottom:.5em;
    }
    
    #profile-img{
        position:relative;
        bottom:6em;
        max-width:35%;
    }
    
    /* Reset styles on smaller devices */

    #profile{
     box-shadow: 0px -3px 7px #000000;
     color:white;
     background:none;
    }

    #biography{
        box-shadow: none;
    }

    #image{
        position: initial;
    }

    .flex-container{
        flex-direction: column;
    }
}